div, body, ul, li{
    padding: 0;
    border: 0;
    margin: 0;
}
div.guidebar {
    width: 608px;
    margin: 110px auto 0 auto;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
div.guidebar li a{
    color: gray;
    text-decoration: none;
    box-sizing: border-box;
    width: 40px;
    border-right: 1px solid lightgray;
    padding-left: 21px;
    padding-right: 18px;
    letter-spacing: 10px;
}   
.guidebar li.last a{
    border: none;
}
div.guidebar li:hover{
    background-color: rgb(230, 230, 230);
    color: white;
}
li{
    display: inline-block;
}
.search{
    position: relative;
    padding: 0;
    border-radius: 5px;
    margin: 10px auto 0 auto;
    width: 610px;
    height: 40px;    
    line-height: 40px;
    background-color: rgb(250, 250, 250);
    overflow: hidden;

}
.searchbar{
position: absolute;
background:none;
width: 595px;
height:38px;
border: 1px solid lightgray;
border-radius: 5px;
line-height: 40px;
font-size: 15px;
font-style: italic;
text-align: left;
color: rgb(192, 192, 192);
padding: 0;
padding-left: 13px;
}
.searchbtn{
    position: absolute ;
    right:1px;
    top:1px;
    background-color: rgb(250, 250, 250);
    color: lightgray;
    border: none;
    border-radius: 3px;
    padding: 0;
    height: 38px;
    line-height: 38px;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    font-weight: 300;
}
.searchbtn:hover{
    background-color: lightgray;
    color: white;
}
div.result-area{
    position: relative;
    width: 610px;
    height: 400px;
    /* border: 1px solid lightgray; */
    margin: 50px auto;
    text-align: center;
    letter-spacing: 1px;
}
img{
    width: 610px;
    height: 457.5px;
    object-fit: cover;
}
.next button{
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: black;
    color: white;
    line-height: 20px;
    font-size:25px;
    font-weight:bolder;
    opacity: 30%;
}
#ne{
    right: 5px;
    top:204px;
}
#ne2{
    left: 5px;
    top:204px;
}
div.result-area:hover button{
    display:inline;
}
